.mui-content {
  background-color: #fff;
}
.banner {
  width: 100%;
}
.banner div a {
  width: 100%;
}
.banner div a img {
  width: 100%;
  display: block;
}
.navlink {
  width: 100%;
  padding: 10px;
}
.navlink ul {
  width: 100%;
}
.navlink ul li {
  width: 33.33%;
  float: left;
}
.navlink ul li a {
  width: 100%;
}
.navlink ul li a img {
  width: 100%;
  display: block;
}
.brand {
  padding: 0 10px;
  width: 100%;
}
.brand > img {
  width: 100%;
  display: block;
}
.brand ul {
  width: 100%;
}
.brand ul li {
  width: 25%;
  float: left;
}
.brand ul li a {
  width: 100%;
}
.brand ul li a img {
  width: 100%;
}
.sport {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 5px;
}
.sport > img {
  width: 100%;
  margin: 10px 0;
}
.sport ul {
  width: 100%;
}
.sport ul li {
  width: 50%;
  padding: 5px;
  float: left;
  box-shadow: 0 0 5px #ccc;
}
.sport ul li > a {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  display: block;
  text-align: center;
}
.sport ul li > a img {
  width: 100%;
}
.sport ul li > a > span {
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #8f8f94;
  padding: 6px;
  height: 44px;
  overflow: hidden;
}
.sport ul li > a p {
  font-size: 12px;
}
.sport ul li > a p span:nth-child(1) {
  color: #f30;
  margin-right: 2px;
}
.sport ul li > a p span:nth-child(2) {
  text-decoration: line-through;
  margin-left: 2px;
}
.sport ul li > a input {
  font-size: 14px;
  background-color: #006699;
  color: #fff;
  margin-bottom: 8px;
  border-radius: 4px;
}
