.container {
  background-color: #fff;
  padding: 10px;
}
.container .search-bar {
  font-size: 14px;
  text-align: center;
  margin-bottom: 15px;
  background-color: #efeff4;
  padding: 8px 0;
}
.product {
  width: 100%;
  padding: 0 10px;
  margin-bottom: 5px;
}
.product ul {
  width: 100%;
}
.product ul li {
  width: 50%;
  padding: 5px;
  float: left;
  box-shadow: 0 0 5px #ccc;
}
.product ul li > a {
  width: 100%;
  padding: 5px;
  overflow: hidden;
  display: block;
  text-align: center;
}
.product ul li > a img {
  width: 100%;
}
.product ul li > a > span {
  display: block;
  line-height: 18px;
  font-size: 14px;
  color: #8f8f94;
  padding: 6px;
  height: 44px;
  overflow: hidden;
}
.product ul li > a p {
  font-size: 12px;
}
.product ul li > a p span:nth-child(1) {
  color: #f30;
  margin-right: 2px;
}
.product ul li > a p span:nth-child(2) {
  text-decoration: line-through;
  margin-left: 2px;
}
.product ul li > a input {
  font-size: 14px;
  background-color: #006699;
  color: #fff;
  margin-bottom: 8px;
  border-radius: 4px;
}
